body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: #F5F5F6;
    
}


.header_2 {
    display: none;
    background: #F5F5F6;
    justify-content: space-around;
    
}

.nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

a {
    display: block;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 13px;
    color: #959BA4;
    margin-left: 5px;
}
.entry button{
    border: none;
    width:70px;
    height: 30px;
    padding: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
}

.container {
    /* width: 1920px; */
    margin: auto;
    margin-top: 100px;
    height: min-content;
}



h1 {
    margin: auto;
    width: 100%;

}
.exchange {
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.from {
    display: block;
    width: 400px;
    height: min-content;
    
}
.to{
    display: block;
    width: 400px;
    height: min-content;
   
}
.currency {
    height: 30px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
.currency_1{
    height: 30px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
.amount {
    margin-top: 30px;
    height: 150px;
    border: 1px solid #E5E5E5;
    border-radius: 3px; 
}
.currency-value {
    text-align: center;
    border: none;
    width: 80px;
    height: 100%;

}
.currency_value {
    width: 80px;
    border-right: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 42px;
    color: #000000;
}
.arrows {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
}
.active {
    background: #833AE0;
    color: white;
}
.main {
    display: flex;
    align-items: center;
}
.count {
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 70px;
    font-size: 50px;
    border: none;
    border-bottom: 1px solid black;
}
.out {
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 70px;
    font-size: 50px;
}
.rate {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 20px;
}
.rate1 {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 20px;
}
@media (max-width: 1100px){
    .header {
        display: none;
    }
    .header_2{
       display: flex;
    }
    .main {
        flex-direction: column;
    }
    h1 {
        font-size: 30px;
    }
    .arrows {
        margin-bottom: 80px;
    }
}

.backdrop {
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    
}

.loading {
    width: 10%;
    height: 80px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}